.upcoming-events {
  text-align: center;
  padding: 20px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black; /* Dark red color */
}

.section-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
}

/* Event Cards Container */
.events-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  height: 450px;
}

/* Event Card */
.event-card {
  position: relative;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  flex: 1;
  display: flexbox;
  flex-direction: column;
  text-align: left;
}

.event-date {
  background: #7d0024;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 4px 4px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.event-day {
  font-size: 40px;
}

.event-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-info {
  padding: 10px 15px;
  max-height: 190px;
  overflow: hidden;
}

.event-title {
  font-size: 27px;
  margin: 10px 0;
}

.event-description {
  font-size: 16px;
  text-align: justify;
  color: #555;
  margin-bottom: 15px;
}

.learn-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background: #7d0024;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.learn-more:hover {
  background: #5a001a;
}

/* See All Events Button */
.see-all-events {
  margin: 40px 0;
  padding: 10px 30px;
  border: 2px solid #7d0024;
  background: transparent;
  color: #7d0024;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}

.see-all-events:hover {
  background: #7d0024;
  color: #fff;
}

/* Responsive Styles */
@media (width < 900px) {
  .events-container {
    flex-direction: column;
    align-items: center;
    height: 1300px;
  }

  .event-card {
    width: 100%;
    flex-direction: column;
  }
}