.header-part {
    background: url('../assets/logos/St_Anthony_Banner.png') center center;
    width: 100%;
    height: fit-content;
    background-size: contain;
}

.overlay-logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.college-logo {
    width: 10%;
    top: 0;
    margin-left: 4%;
}

.padua-logo {
    width: 9%;
    top: 5px;
    margin-right: 4%;
}

.event-container h1 {
    text-align: center;
}

@media (width < 750px) {
    .header-part {
        width: 120%;
        margin-left: -10%;
    }

    .overlay-logos {
        flex-direction: row;
        justify-content: center;
        gap: 62%;
    }

    .college-logo {
        width: 11%;
    }

    .padua-logo {
        width: 10%
    }
}